

.about {
  &__history-list {
    
    margin: 0 0 80px 0;
  }
}



.history {
    background: rgb(15, 22, 36);
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;

  &__icon {
    align-self: start;
    margin: 5px 0 0 10px;
  }

  &__item {
    max-width: 220px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    margin: 0 0 16px 0;
    background-image: linear-gradient(121.57deg, rgb(255, 255, 255) 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  &__description {
    font-size: 14px;
    line-height: 22px;
    padding: 0 16px 0 0;
    color: rgba(255, 255, 255, 0.75);

  }
}
