.footer {
}
.footer__contact-list {
}
.contacts {
}
.contacts__item {
}
.contacts__title {
}
.contacts__description {
}
.contacts__link {
}
.footer__social {
}
.social {
}
.social__list {
}
.social__item {
}
.social__link {
}