.header {

  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1fr;
    padding: 3rem 1rem 2rem;
  }
  &__logo-box {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
  }

  &__logo-link {
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  &__logo-text {
    font-size: 2rem;
    
    
  }

  &__social {
    grid-area: 1 / 5 / 2 / 6;
  }
  



}


.menu {
  grid-area: 1 / 2 / 2 / 5;
  &__list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style: none;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    line-height: 32px;
    transition: all 0.4s ease 0s;
    color: rgba(255, 255, 255, 0.75);

    &:hover {
    color: #fff;
    opacity: 1;
    }
    
  }
}



