.intro {
  position: relative;
  &__title {
    font-weight: 800;

    max-width: 690px;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 16px;
    padding: 58px 0 16px;
    background-image: linear-gradient(121.57deg, rgb(255, 255, 255) 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    z-index: 2;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
    z-index: 2;
  }

  &__animation {
    height: 600px;
    width: 600px;
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 1;
  }



  &__btn-link {
    border-radius: 50px;
    color: #fff;
    padding: 16px;
    width: 200px;
    height: 55px;
    display: block;
    background: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
    opacity: 1;
    transition: all .4s ease;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    text-align: center;

  }

  
}