.technologies {
  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 3rem 0px;
    justify-items: center;
  }
  &__item {
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;

    

  }
  &__description {
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);

  }
}

